.place__title {
    margin: 0 auto 0 auto;
    width: 100%;

    max-width: 464px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}

@media  (max-width: 875px) {
    .place__title{
        font-size: 42px;
        line-height: 1.1;
    }
}

@media  (max-width: 320px) {
    .place__title {
        padding: 0 0 0 16px;
        width: 95%;
        font-size: 32px;
    }
}