.photo-grid{
    margin: 92px 48px 0 48px;
    width: auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat( auto-fit, minmax(284px, 1fr) );
} 

@media  (max-width: 1279px) {
    .photo-grid{
        gap: 14px;
    } 
}

@media  (max-width: 1023px) {
    
    .photo-grid{
        margin: 88px 24px 0 24px;
        gap: 16px;
    } 
}

@media  (max-width: 767px) {
    
    .photo-grid{
        gap: 12px;
        margin: 64px 16px 0 16px;
    } 
}