.places{
    max-width: 984px;
    margin: 7.121% auto 0 auto;
}

@media  (max-width: 1024px) {
    .places{
        width: 93%;
        max-width: 924px;
        margin: 7.121% auto 0 auto;
    }
}

@media  (max-width: 768px) {
    .places{
        width: 100%;
        max-width: 720px;
        margin: 7.121% auto 0 auto;
    }
}

