.place__paragraph {
    margin: 0 auto 0 auto;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:nth-of-type(2) {
    margin: 25px 0 0 0;
}

@media  (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 16px 0 16px;
        width: auto;
    }
    .place__paragraph:nth-of-type(2) {
        margin: 25px 16px 0 16px;
    }
}