.cover{
    margin: 92px auto 0 auto;
    position: relative;
    width: 92.5%;
    max-height: 740px;
    max-width: 1184px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    color: white;
}

@media (max-width: 1024px){
    .cover{
        max-height: 640px;
        height: 62.5vw;
        width:100%;
    }
}

@media (max-width: 768px){
    .cover{
        max-height: 480px;
        margin: 90px auto 0 auto;
    }
}

@media (max-width: 320px){
    .cover{

        width:100%;
        margin: 66px auto 0 auto;
    }
}