@import url(/blocks/page/page.css);

@import url(/blocks/header/header.css);
@import url(/blocks/header/__logo/header__logo.css);
@import url(/blocks/header/__link-container/header__link-container.css);
@import url(/blocks/header/__lang-link/header__lang-link.css);

@import url(/blocks/lead/lead.css);
@import url(/blocks/lead/__title/lead__title.css);
@import url(/blocks/lead/__subtitle/lead__subtitle.css);
@import url(/blocks/lead/__image/lead__image.css);
@import url(/blocks/lead/__caption/lead__caption.css);

@import url(/blocks/intro/intro.css);
@import url(/blocks/intro/__title/intro__title.css);
@import url(/blocks/intro/__text/intro__text.css);
@import url(/blocks/intro/__list/intro__list.css);

@import url(/blocks/photo-grid/photo-grid.css);
@import url(/blocks/photo-grid/__item/photo-grid__item.css);

@import url(/blocks/places/places.css);
@import url(/blocks/place/place.css);
@import url(/blocks/place/__title/place__title.css);
@import url(/blocks/place/__image/place__image.css);
@import url(/blocks/place/__website/place__website.css);
@import url(/blocks/place/__paragraph/place__paragraph.css);
@import url(/blocks/place/__url-heading/place__url-heading.css);
@import url(/blocks/place/__link/place__link.css);

@import url(/blocks/cover/cover.css);
@import url(/blocks/cover/__title/cover__title.css);
@import url(/blocks/cover/__subtitle/cover__subtitle.css);
@import url(/blocks/cover/__overlay/cover__overlay.css);
@import url(/blocks/cover/__container/cover__container.css);

@import url(/blocks/footer/footer.css);
@import url(/blocks/footer/__navigation/footer__navigation.css);
@import url(/blocks/footer/__link/footer__link.css);
@import url(/blocks/footer/__copyright/footer__copyright.css);


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Thin.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Thin.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ThinItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLight.woff2") format("woff2"),
        url("/fonts/Inter/Inter-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraLightItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Light.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Inter/Inter-LightItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-LightItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/nter-Regular.woff") format("woff2"),
        url("/fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Italic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter/Inter-MediumItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
        url("/fonts/Inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BoldItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
        url("/fonts/Inter/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-Black.woff2") format("woff2"),
        url("/fonts/Inter/Inter-Black.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter/Inter-BlackItalic.woff2") format("woff2"),
        url("/fonts/Inter/Inter-BlackItalic.woff") format("woff");
}