.place{
    color: white;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 46.748% 49.188%;
    grid-template-rows: min-content max-content;
    margin: 0 0 8.131% 0;
}

@media  (max-width: 1024px) {
    .place{
        color: white;
        display: grid;
        gap: 48px 32px;
        grid-template-columns: 46.748% 49.188%;
        grid-template-rows: min-content max-content;
        margin: 0 0 8.131% 0;
    }
}

@media  (max-width: 767px) {
    .place{
        color: white;
        display: grid;
        gap: 32px;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        margin: 0 0 8.131% 0;
    }
}