.footer{
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
    width: 93.671%;
    max-width: 1184px;
    color: white;
}

@media  (max-width: 768px) {
    .footer{
        margin: 88px auto 24px auto;
    }
}

@media  (max-width: 767px) {
    .footer{
        margin: 64px auto 24px auto;
        flex-direction: column;
        height: 3.1%;
    }
}