.footer{
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
    width: 93.671%;
    height: 18px;
    color: white;
}

@media  (max-width: 767px) {
    .footer{
        margin: 64px auto 24px auto;
        display: flex;
        flex-direction: column;
        width: 93.671%;
        height: 3.1%;
        color: white;
    }
}