.place__url-heading {
    width: 484x;
    margin: 0 0 12px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
}